{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>company xxx</title>

  <link rel="stylesheet" href="{% static 'styles.css' %}">


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.8.7/chosen.min.css">

</head>

<body>

  <div   class="d-flex" id="wrapper">


    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><img src="/static/comany.png" alt="logo" height="30" width="95"></div>
      <div class="list-group list-group-flush">
        <a href="{% url 'leads:createLead'%}" class="list-group-item list-group-item-action bg-light">Add Lead</a>
        <a href="{% url 'leads:leadList'%}" class="list-group-item list-group-item-action bg-light">Leads</a>
        <a href="{% url 'meetings:meetingList'%}" class="list-group-item list-group-item-action bg-light">Meetings</a>
        <a href="{% url 'leads:pdf'%}" class="list-group-item list-group-item-action bg-light">pdf</a>
      </div>
    </div>

    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-outline-primary" id="menu-toggle" data-toggle="tooltip" data-placement="bottom" title="toggler menu"><i class="fa fa-bars"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            {% if user.is_authenticated%}
            <li class="nav-item mt-2">Welcome, {{request.user.username}} </li>
            <li class="nav-item">
              <form action="{% url 'accounts:logout'%}" method="post" class="logout-link">
                  {% csrf_token%}
                  <button class="btn btn-link" type="submit">Logout</button>
              </form>
          </li>
          {% else %}
            <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
           <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a></li> 
            {% endif %}
          </ul>
        </div>
      </nav>

      <div class="container mt-4 col-md-10 offset-md-1 mt-5">
        {% block content %}
        {%endblock%}
      </div>
    </div>


  </div >

  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
 {% block javascript %}
 {% endblock %}
</body>

</html>
