<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en">

<head>
    <title></title>
</head>

<body>
    <div class="row">
        <div class="col-md-12" style="display: flex; justify-content: end;">
            <form action="" method="get" class="mr-2 ml-auto" id="filter-form">
                {%render_field filter.form.q class="form-control" onfocus="this.value = this.value;"%}
                {% comment %} {{filter.form|attr:''}} {% endcomment %}
                <button class="btn-outline-primary" id="search">search</button>
            </form>
        </div>
    </div>
</body>
<script>
    var searchField = document.getElementById('id_q');
    var form = document.getElementById('filter-form')
    var searchButton = document.getElementById('search')

    searchField.addEventListener('keyup', () => {
        setTimeout(() => searchButton.click(), 1000)
    })
    searchField.addEventListener('focus', () => {
        var that = this
        setTimeout(function(){ that.selectionStart = that.selectionEnd = 10000; }, 0);
    })
    window.onload = () => {
        searchField.focus()
    }
</script>

</html>