
{% load static %}

<html>

<head>
    <title>
        company xyz
    </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <header class="wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <h1><a class="navbar-brand" href="#!"><img src="/static/comany.png" alt="logo" height="35" width="90"></a>
            </h1>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:login' %}">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a></li>
                </ul>
            </div>

        </nav>
    </header>
    <div class="container col-md-12 offset-md-0 mt-3">
        <img src="/static/call.jpg" class="img-fluid" alt="Responsive image">
    </div>
</body>

</html>