{% extends 'base_layout.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="card row shadow p-3">
    <h1>Login</h1>
    <form action="{% url 'accounts:login'%}" method="post" class="site-form">
        {% csrf_token %}
        {{form|crispy}}
        {% if request.GET.next%}
        <input type="hidden" name="next" value="{{request.GET.next}}">
        {% endif %}
        <input type="submit" value="Login" class="btn btn-primary mr-auto ml-auto">
</div>
</form>
{% endblock %}