{% extends 'base_layout.html'%}
{% load crispy_forms_tags %}

{% block content %}
<div class="card row shadow p-3">
    <h1>Signup</h1>
    <form action="{% url 'accounts:signup'%}" method="post" class="site-form">
        
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Signup" class="btn btn-primary">
        
    </form>
</div>
{% endblock %}