{% extends 'base_lay.html' %}
{% load crispy_forms_tags %}
{% block content %}
<a href="javascript:history.go(-1)" class="mb-4">Back</a>
<br>
step {{wizard.steps.step1}} in {{wizard.steps.count}}
<div class="card row shadow p-3">
    <div class="h1">
        <h2>Add Meeting for {{lead.name}}</h2>
    </div>

    
    <div>
        <form action="{% url 'meetings:addMeeting' lead_id=lead.id%}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.title|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.venue|as_crispy_field }}
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                     {{form.about|as_crispy_field}}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{form.time|as_crispy_field}}
                </div>
            </div>
                    {{form.conclusion|as_crispy_field}}
                    {{form.meetingMinute|as_crispy_field}}
            <input type="submit" value="Submit" class="btn btn-primary mt-4">
        </form>

    </div>
</div>
{% endblock%}