{% extends 'base_lay.html' %}

{% block content %}
<a href="javascript:history.go(-1)" class="mb-4">Back</a>
<div class="h1">
    <h2>List of Meetings {{lead.name}}</h2>
</div>
<div>
    {% if meetings %}
    <div class="row">
        <div class="col">
            <div class="card card-body">
                <form action="" method="get" class="mr-2 ml-auto">
                    {{myFilter.form}}
                    <button class="btn-outline-primary">search</button>
                </form>
            </div>
        </div>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>date</th>
                <th>title</th>
                <th>venue</th>
                <th>lead</th>
            </tr>
        </thead>
        <tbody>
            {% for meeting in meetings %}
            <tr>
                <td>{{meeting.time}}</td>
                <td>{{meeting.title}}</td>
                <td>{{meeting.venue}}</td>
                <td>{{meeting.lead}}</td>
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% else %}
    <p>NO MEETING WITH {{lead.name}}</p>
    {% endif%}
</div>
{% endblock%}