{% extends 'base_lay.html' %}

{% block content %}
<h1>ALL Permissions</h1>
<select name="" id="" class="chosen">
    <option value="">--select permission--</option>
    {% for permission in permissions %}
    <option value="{{permission.id}}">{{permission.name}}</option>
    {% endfor %}
</select>
</table>
<script>
    $(".chosen").chosen({
        width: '100%',
    });
</script>
{% endblock %}