{% extends 'base_lay.html' %}
{% load crispy_forms_tags %}
{% block content %}
<a href="javascript:history.go(-1)" class="mb-4">Back</a>
<div class="card row shadow p-3">
    <h2 class="mb-4">Add Contact for {{lead.name}}</h2>

    <div>
        <form action="{% url 'contacts:addContact' lead_id=lead.id%}" method="post">
            {% csrf_token %}
            {{form|crispy}}
            <input type="submit" value="Submit" class="btn btn-primary mt-4">
        </form>
    </div>
</div>
{% endblock%}