{% extends 'base_lay.html'%}

{% block content%}
    <a href="javascript:history.go(-1)" class="mb-4">Back</a>
    <h2>Contacts for {{lead.name}}</h2>
    <table class="table table-striped">
        {% if contacts %}
        <thead>
            <tr>
                <th>PhoneNumber</th>
                <th>Email</th>
                <th>isPrimary</th>
            </tr>
        </thead>
        <tbody>
            
            {% for contact in contacts %}
            <tr>
                <td>{{contact.phone}}</td>
                <td>{{contact.email}}</td>
                <td>{{contact.isPrimary}}</td>
            </tr>
            {% endfor %}
            {% else %}
            <p>NO CONTACT FOR THIS LEAD</p>
            {% endif %} 
        </tbody>
    </table>
{% endblock %}