{% extends 'base_lay.html'%}
{% block javascript %}
<script src="https://www.google.com/recaptcha/api.js"></script>
<script>
    $("input[name=anonymous]:radio").click(function (ev) {
        if (ev.currentTarget.value == "no") {
            $('#test').addClass('d-none');
        }
        else if (ev.currentTarget.value == "yes") {
            $('#test').removeClass('d-none');
        }
    });
</script>
{% endblock %}

{% block content%}
{% comment %} <div class="wrapper">
    <div class="card row shadow p-3">
        <div class="h1">
            <h2 class="mb-4">{{head}} a Lead</h2>
        </div>
        <form action="" method="post">
            {% csrf_token%}
            {% for field in form %}
            <div class="field">
                <label for="{{ field.id_for_label }}" class="label"> {{ field.html_name}}:</label>
                {{field}}
                {% for error in field.errors %}
                <p class="help is-danger"> {{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <br>



            <input type="submit" value="Submit" class="btn btn-primary mt-4 mb-4">
        </form> {% endcomment %}

        {{ form.non_field_errors }}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="{{message.tags}}">{{message}}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <form action="" method="post" class="form-group">
            {% csrf_token%}
            <input type="radio" name="anonymous" id="yes" value="yes">
            <label for="showLead">show lead name and stage</label>
            <input type="radio" name="anonymous" id="no" value="no">
            <label for="showLead">don't show lead name and stage</label>
            

                <div id="test">
                    <div class="row">
                    <div class="col-md-6">
                        <label for="{{ form.name.id_for_label }}">lead name :</label>
                        {{form.name}}
                        {% for error in form.name.errors %}
                        <p class="text-danger"> {{error}}</p>
                        {% endfor %}
                    </div>
                    <div class="col-md-6">
                        <label for="{{ form.name.id_for_label }}">stage :</label>
                        {{form.stage}}
                    </div>
                </div>

                </div>





            
            <div class="row mt-3">
                <div class="col-md-12">
                    {{ form.description.label_tag }}
                    {{form.description}}
                </div>
            </div>
            <div class="g-recaptcha" data-sitekey="6LfQKKYZAAAAAO8oWrjK3GtqNZUVhNFeMjqUopR3"></div>
            <input type="submit" value="Submit" class="btn btn-primary mt-4">
        </form>

    </div>
</div>
{% endblock %}