{% extends 'base_lay.html'%}

{% block content%}
<div class="header">
    <h2>{{lead.name}} Detail page</h2>
</div>
<div>

    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"><b>Information</b></h5>
                    <p class="card-text"><b>lead title: </b>{{lead.name}}</p>
                    <p class="card-text"><b>lead stage: </b>{{lead.stage}}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body" style="height: 140px;">
                    <h5 class="card-title"><b>Primary contacts</b></h5>
                    {% if contacts %}
                    {% for contact in contacts%}
                    {% if contact.isPrimary == True%}
                    <p class="card-text"><b>email: </b>{{contact.email}}</p>
                    <p class="card-text"><b>phone: </b>{{contact.phone}}</p>
                    {% endif %}
                    {% endfor %}
                    {% else %}
                    <p class="card-text"><b>No Contacts for this lead</b></p>
                    <p class="card-text"><b></b></p>
 
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-6">
            <div class="card card-body">
                <a href="{% url 'meetings:addMeeting' lead_id=lead.id%}" class="btn btn-outline-primary mt-2">add
                    meeting <i class="fa fa-plus"></i></a>
                <a href="{% url 'meetings:meetings' lead_id=lead.id%}" class="btn btn-outline-primary mt-2">meetings
                    <i class="fa fa-meetup"></i>
                </a>
                
            </div>
        </div>
        <div class="col-md-6">
            <div class="card card-body">
                <a href="{% url 'contacts:addContact' lead_id=lead.id%}" class="btn btn-outline-primary mt-2">add
                    contact <i class="fa fa-plus"></i></a>
                <a href="{% url 'contacts:contacts' lead_id=lead.id%}" class="btn btn-outline-primary mt-2">contacts
                    <i class="fa fa-phone"></i>
                </a>
            </div>
        </div>
    </div>


</div>
{% endblock%}