{% extends 'base_lay.html'%}

{% block content%}
<div class="section">
    <div class="h1">
        <h1>Leads</h1>
    </div>
    <div>
    {% include 'filter.html' %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>id</th>
                    <th>Lead title</th>
                    <th>stage</th>
                    <th>description</th>
                    <th>Detail</th>
                    <th>Action</th>
                </tr>
            </thead>

            <tbody>
                {% for lead in leads %}
                <tr>
                    <td>{{lead.id}}</td>
                    <td>{{ lead.name }}</td>
                    <td>{{ lead.stage }}</td>
                    <td>{{ lead.description}}</td>
                    <td><a href="{% url 'leads:leadDetail' lead_id=lead.id %}">detail</a></td>
                    <td><a href="{% url 'leads:delete' lead_id=lead.id %}" class="btn btn-outline-danger"
                            data-toggle="tooltip" data-placement="bottom" title="delete"><i class="fa fa-trash"></i></a>
                        <a href="{% url 'leads:update' lead_id=lead.id %}" class="btn btn-outline-success"
                            data-toggle="tooltip" data-placement="bottom" title="update"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>

                {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

</div>
{% endblock %}