<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    {% load static %}
<head>
    <title>Report</title>
    <style type="text/css">
        body {
            font-weight: 200;
            font-size: 14px;
        }
        
        .header {
            font-size: 20px;
            font-weight: 100;
            text-align: center;
            color: #0E5F8B;
        }
        
        .title {
            font-size: 22px;
            font-weight: 100;
            /* text-align: right;*/
            padding: 10px 20px 0px 20px;
        }
        
        .title span {
            color: #007cae;
        }
        
        .details {
            padding: 10px 20px 0px 20px;
            text-align: left !important;
            /*margin-left: 40%;*/
        }
        
        .hrItem {
            border: none;
            height: 1px;
            /* Set the hr color */
            color: #0E5F8B;
            /* old IE */
            background-color: #fff;
            /* Modern Browsers */
        }
        
        .content-table {
            border-collapse: collapse;
            margin: 12px 0;
            font-size: 1rem;
            min-width: 400px;
            width: -webkit-fill-available;
        }
        
        th,
        td {
            padding: 4px 18px;
        }
        
        tbody tr {
            border-bottom: #dddddd;
        }
        
        tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }
        
        thead tr {
            background-color: #0E5F8B;
            color: white;
            text-align: left;
        }
        
        img {
            zoom: 80%;
        }
    </style>
</head>

<body>


    <img src="/Users/edisontusifu/Desktop/edison/coxxx/assets/Header_Image.png" alt="logo">
<!-- <img src="media/Header_Imange.png" alt="logo"> -->

    <div class='header'>
        <p class='title'>Report # {{order_id}}</p>
    </div>
    <div>
        <div class='details'>
            Reporter: {{customer_name}}<br/> Amount: {{amount}} <br/> Date: {{today}}
            <hr class='hrItem' />
        </div>
    </div>
    <div class="content">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen recently
            with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>

    </div>
    <table class="content-table">
        <caption>Leads Table</caption>
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Gender</th>
                <th scope="col">Final</th>
                <th scope="col">Occurance Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>First</td>
                <td>Male</td>
                <td>Yes</td>
                <td>12/12/2020</td>
            </tr>
            <tr>
                <td>Second</td>
                <td>Male</td>
                <td>Yes</td>
                <td>12/12/2020</td>
            </tr>
        </tbody>
    </table>

    <h3>Test Flex</h3>
    <table>
        <tbody>
            <tr>
                <td>

                </td>
                <td>
                    Lorem Ipsum fact that a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop
                    (injected humour and the like).
                </td>
            </tr>
            <tr>
                <td>
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here,
                </td>
                <td>

                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>